
<p>A list of customers who have purchased our products is displayed here.</p>

<!-- search function  -->

<div class="customer-search">
    <label for="name">Search customer: </label>
    <input type="text" class="form-control" id="name" placeholder="Enter first name..." [(ngModel)] = "customerSearch.firstName">
  <button (click)="findCustomer(customerSearch)">Search</button>
</div>
<!-- display data -->
<table class="customer-info">
  <tr>
    <th>Name</th>
    <th>Postal Code</th>
    <th>Phone</th>
    <th>Date of birth</th>
    <th>Items purchased</th>
  </tr>
  <tr *ngFor="let c of customers">
    <td>{{ c.firstName }} {{ c.lastName }}</td>
    <td>{{ c.postalCode }}</td>
    <td>{{ c.phone }}</td>
    <td>{{ c.dob.toDateString() }}</td>
    <td>{{ c.items }}</td>
  </tr>
</table>